<header class="header" role="banner">
  <div class="logo-img">
    <a href="https://google.com"></a>
    <img src="../../../assets/wup logo.png" alt="">
  </div>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">

          <li><a href="#">Dashboard</a></li>
          <a routerLink="/manage/students">Student</a>
          <li><a href="#" routerLink="/manage/teachers">Teacher</a></li>
          <a routerLink='/login'>Log in</a>
          <a routerLink='/registration'>Register</a>
          <a>Logout</a>
          <a>Settings</a>
        </ul>
      </nav>
      <ul class="social-links list-inline unstyled list-hover-slide">
       
        <li><a href="https://www.wesleyan.edu.ph/">Wesleyan Page</a></li>
        <li><a href="https://www.facebook.com/WesleyanOfficial">Facebook</a></li>
        <li><a href="https://www.google.com.ph/maps/place/Wesleyan+University-Philippines/@15.4850355,120.9731208,17z/data=!3m1!4b1!4m6!3m5!1s0x33972927fa9084cb:0x7a5599f1890203af!8m2!3d15.4850355!4d120.9756957!16zL20vMDRiMDZf?entry=ttu">Location</a></li>
      </ul>
    </div>
  </header>