<div class="col-lg-4 mx-auto mb-4">
    <div class="card shadow-sm">
      <div class="card-header bg-transparent text-center">
        <img class="profile_img" src="https://scontent.fcrk2-2.fna.fbcdn.net/v/t39.30808-6/305771863_5040424232725974_2654431614450258700_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF3byC0VpU15MFxenOAQn87vU5wValJQ8O9TnBVqUlDwzIiV1R5aJAm9kbVwMwlSAAOHPdL_cyzlFoOhT-ne-EZ&_nc_ohc=5cP6LGk_qE0AX-m8BmR&_nc_ht=scontent.fcrk2-2.fna&oh=00_AfCATUjHvz0OVQBVZXdzA6WmhAtPu2SlmO7jHY_gdajU0Q&oe=652DEC59" alt="student dp">
        <h3>Mikeila D. Viernes</h3>
      </div>
      <div class="card-body">
        <p class="mb-0"><strong class="pr-1">Student ID: </strong>21-0866-799</p>
        <p class="mb-0"><strong class="pr-1">Course: </strong>BSIT</p>
        <p class="mb-0"><strong class="pr-1">Block: </strong>3-1</p>
        <p class="mb-0"><strong class="pr-1">Scholarship Status: </strong>Academic</p>
      </div>
    </div>
</div>