<div class="about-section">
  <h1>Meet your Teacher.</h1>
  <p>Your professor's name is Ms.Super Shy.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
    et dolore magna aliqua. </p>
</div>

<h2 style="text-align:center">Super Shy</h2>
<div class="row">


  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.Kr-HxsXM4eMOqs00f5_MxQHaHa?pid=ImgDet&rs=1" alt="New Jeans" style="width:100%">
      <div class="container">
        <h2>New Jeans</h2>
        <p class="title">Favorite Song</p>
        <p>I'm super shy, super shy
          But wait a minute while I make you mine, make you mine</p>
        <p>powerpuffgirls.com</p>
        <p><button class="button">Message Us</button></p>
      </div>
    </div>
  </div>

</div>